/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
error.log
access.log
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error.log

access.log
/public/images/profile_photos


public/reviewer


public/images

.vscode/


